<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Set your mood
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-label style="font-weight: bold; font-size: 20px;" color="primary">
        What's your current mood?
      </ion-label>
    </ion-card-header>
    <div class="center-div">
      <ng-container *ngFor="let item of arrayEmoji; let i = index">
        <div
          class="emojiContainer"
          tabindex="{{i+1}}"
          (click)="currentState(item.name)"
        >
          <img src="{{item.image}}" class="emojiImg" id="current{{i}}" />
          {{item.name}}
        </div>
      </ng-container>
    </div>
    <ion-card-header class="ion-text-center">
      <ion-label style="font-weight: bold; font-size: 20px;" color="primary">
        What's your target mood?
      </ion-label>
    </ion-card-header>
    <div class="center-div">
      <ng-container *ngFor="let item of arrayEmoji; let i = index">
        <div
          class="emojiContainer"
          tabindex="{{i+1}}"
          (click)="targetState(item.name)"
        >
          <img src="{{item.image}}" class="emojiImg" id="target{{i}}" />
          {{item.name}}
        </div>
      </ng-container>
    </div>
    <div class="center-div">
      <ion-button
        (click)="confirmMood()"
        class="submit"
        [disabled]="this.currentEmotion === undefined || this.targetEmotion === undefined"
        [color]="this.currentEmotion === undefined || this.targetEmotion === undefined ? 'medium':'primary'"
        >Confirm</ion-button
      >
    </div>
  </ion-card>
</ion-content>
