<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Profile
    </ion-title>
    <ion-button (click)="alertLogout()" slot="end" class="logout" fill="clear"
      >Logout</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher
    (ionRefresh)="doRefresh($event)"
    slot="fixed"
    pullFactor="0.5"
    pullMin="80"
    pullMax="200"
  >
    <ion-refresher-content
      pullingIcon="chevron-down"
      refreshingSpinner="dots"
      pullingText="Pull to refresh"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-label style="font-weight: bold;" color="primary">
        Some Spotify's Account Dates
      </ion-label>
    </ion-card-header>

    <!-- PHOTO -->
    <ion-avatar class="myavatar">
      <img src="{{this.userProfilePhoto}}" />
    </ion-avatar>

    <ion-list lines="full">
      <!-- EMAIL -->
      <ion-item>
        <div>
          <div class="nameField">
            Email
          </div>
          <div>{{this.email}}</div>
        </div>
      </ion-item>

      <!-- NAME -->
      <ion-item>
        <div>
          <div class="nameField">
            Name
          </div>
          <div>{{this.name}}</div>
        </div>
      </ion-item>

      <!-- COUNTRY -->
      <ion-item>
        <div>
          <div class="nameField">
            Country
          </div>
          <div>{{this.country}}</div>
        </div>
      </ion-item>

      <!-- URL -->
      <ion-item>
        <div>
          <div class="nameField">
            URL
          </div>
          <div>{{this.url}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- SINGER PREFERENCES -->
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-label style="font-weight: bold;" color="primary">
        Singer Preferences
      </ion-label>
    </ion-card-header>
    <ion-item lines="none" class="itemLineButton">
      <div class="itemDivButton">
        <ion-label color="primary"> Favorite Artists </ion-label>
        <ion-button (click)="showSingerPref()" fill="outline" color="secondary"
          >{{showArtist}} Artists</ion-button
        >
      </div>
    </ion-item>
    <ng-container *ngIf="this.singerDiv">
      <!--SEARCH ARTIST-->
      <ion-searchbar
        animated
        placeholder="Search for an artist"
        showCancelButton="focus"
        spellcheck="true"
        (ionChange)="searchArtist($event)"
      ></ion-searchbar>
      <ion-grid class="ion-no-padding">
        <ion-row style="justify-content: space-between !important;">
          <ion-col *ngFor="let item of searchFavArtist">
            <ion-item lines="none">
              <ion-avatar style="width: 40px; height: 40px;">
                <img src="{{item.image}}" />
              </ion-avatar>
              <ion-label>
                {{item.name}}
              </ion-label>
              <ion-checkbox
                [value]="item.name"
                [disabled]="!item.checked && this.selectedFavArtist.length >= 5"
                slot="end"
                [checked]="item.checked"
                (ionChange)="updateSingerPref('search', item.key)"
              ></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--FAVORITE ARTIST-->
      <ion-item color="primary" lines="full">
        Your Preferences
      </ion-item>
      <ng-container>
        <ion-item
          *ngIf="this.selectedFavArtist.length == 0"
          style="color: var(--ion-color-warning);"
          lines="none"
        >
          You don't have any preferences (choose at most five)
        </ion-item>
        <ng-container *ngFor="let item of selectedFavArtist">
          <ion-item>
            <ion-avatar style="width: 40px; height: 40px; margin-right: 10px;">
              <img src="{{item.image}}" />
            </ion-avatar>
            <ion-label>
              {{item.name}}
            </ion-label>
            <ion-checkbox
              [value]="item.name"
              slot="end"
              [checked]="item.checked"
              (ionChange)="updateSingerPref('favorite', item.key)"
            ></ion-checkbox>
          </ion-item>
        </ng-container>
      </ng-container>
      <!--SUGGEST ARTIST-->
      <ion-item
        color="primary"
        lines="full"
        *ngIf="this.selectedFavArtist.length < 5"
      >
        Suggests
      </ion-item>
      <ng-container *ngFor="let item of suggestfavArtist">
        <ion-item *ngIf="!item.checked && this.selectedFavArtist.length < 5">
          <ion-avatar style="width: 40px; height: 40px; margin-right: 10px;">
            <img src="{{item.image}}" />
          </ion-avatar>
          <ion-label>
            {{item.name}}
          </ion-label>
          <ion-checkbox
            [value]="item.name"
            slot="end"
            [checked]="item.checked"
            (ionChange)="updateSingerPref('suggest', item.key)"
          ></ion-checkbox>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-card>

  <!-- FAVORITE Genres -->
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-label style="font-weight: bold;" color="primary">
        Genres preferences
      </ion-label>
    </ion-card-header>
    <ion-item lines="full" class="itemLineButton">
      <div class="itemDivButton">
        <ion-label color="primary"> Favorite genres </ion-label
        ><ion-button
          (click)="showFavGenresDiv()"
          fill="outline"
          color="secondary"
          >{{showFavoritGenres}} Favorite Genres</ion-button
        >
      </div>
    </ion-item>
    <ng-container>
      <div scrolly="true" id="favDiv">
        <ion-item
          *ngIf="favGenresSelected.length == 0"
          style="color: var(--ion-color-warning);"
          lines="none"
        >
          You don't have any preferences (choose at most 5)
        </ion-item>
        <ng-container *ngFor="let item of genresAvailable">
          <ion-item *ngIf="item.checkedFav || favGenresSelected.length < 5">
            <ion-label>
              {{item.key}}
            </ion-label>
            <ion-checkbox
              [value]="item.key"
              slot="start"
              [checked]="item.checkedFav"
              [disabled]="item.checkedHate"
              (ionChange)="updateGenresPref('favorite', item.key)"
            ></ion-checkbox>
          </ion-item>
        </ng-container>
      </div>
    </ng-container>

    <!-- HATED Genres -->
    <ion-item lines="full" class="itemLineButton">
      <div class="itemDivButton">
        <ion-label color="primary"> Hated genres </ion-label
        ><ion-button
          (click)="showHatedGenresDiv()"
          fill="outline"
          color="secondary"
          >{{showHatedGeneres}} Hated Genres</ion-button
        >
      </div>
    </ion-item>
    <ng-container>
      <div scrolly="true" id="hateDiv">
        <ion-item
          *ngIf="hatedGenresSelected.length == 0"
          style="color: var(--ion-color-warning);"
          lines="none"
        >
          You don't have any preferences (choose at most 5)
        </ion-item>
        <ng-container *ngFor="let item of genresAvailable">
          <ion-item *ngIf="item.checkedHate || hatedGenresSelected.length < 5">
            <ion-label>
              {{item.key}}
            </ion-label>
            <ion-checkbox
              [value]="item.key"
              slot="start"
              [checked]="item.checkedHate"
              [disabled]="item.checkedFav"
              (ionChange)="updateGenresPref('hated', item.key)"
            ></ion-checkbox>
          </ion-item>
        </ng-container>
      </div>
    </ng-container>
  </ion-card>
  <div style="text-align: center; display: grid;">
    <ion-label
      color="warning"
      *ngIf="(this.favGenresSelected.length === 0 || this.hatedGenresSelected.length === 0) && this.selectedFavArtist.length === 0"
      >Fill out one of the section above</ion-label
    >
    <ion-button
      (click)="onClickSubmit()"
      class="submit"
      [disabled]="(this.favGenresSelected.length === 0 || this.hatedGenresSelected.length === 0) && this.selectedFavArtist.length === 0"
      [color]="(this.favGenresSelected.length === 0 || this.hatedGenresSelected.length === 0) && this.selectedFavArtist.length === 0 ? 'medium':'primary'"
    >
      Confirm
    </ion-button>
  </div>
</ion-content>
