<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Mood
    </ion-title>
    <ion-button (click)="alertLogout()" slot="end" class="logout" fill="clear"
      >Logout</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher
    (ionRefresh)="doRefresh($event)"
    slot="fixed"
    pullFactor="0.5"
    pullMin="80"
    pullMax="200"
  >
    <ion-refresher-content
      pullingIcon="chevron-down"
      refreshingSpinner="dots"
      pullingText="Pull to refresh"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-label style="font-weight: bold;" color="primary">
        Change your starting and target mood
      </ion-label>
    </ion-card-header>
    <div class="centerDiv">
      <ion-card-header class="ion-text-center">
        <ion-label style="font-weight: bold;" color="primary">
          Current
        </ion-label>
      </ion-card-header>
      <div class="emojiContainer">
        <img src="{{this.currentEmotion.image}}" class="emojiImg" />
        {{this.currentEmotion.name}}
      </div>
    </div>
    <div class="centerDiv" style="margin-top: 20px;">
      <ion-card-header class="ion-text-center">
        <ion-label style="font-weight: bold;" color="primary">
          Target
        </ion-label>
      </ion-card-header>
      <div class="emojiContainer">
        <img src="{{this.targetEmotion.image}}" class="emojiImg" />
        {{this.targetEmotion.name}}
      </div>
    </div>
    <div class="centerDiv">
      <ion-button (click)="goToMoodSet()" class="changeButton"
        >Change it</ion-button
      >
    </div>
  </ion-card>
</ion-content>
