<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-label style="font-weight: bold;" color="primary">
        Some Spotify's Account Dates
      </ion-label>
    </ion-card-header>

    <!-- PHOTO -->
    <ion-avatar class="myavatar">
      <img src="{{this.userProfilePhoto}}" />
    </ion-avatar>

    <ion-list lines="full">
      <!-- EMAIL -->
      <ion-item>
        <div>
          <div class="nameField">
            Email
          </div>
          <div>{{this.email}}</div>
        </div>
      </ion-item>

      <!-- NAME -->
      <ion-item>
        <div>
          <div class="nameField">
            Name
          </div>
          <div>{{this.name}}</div>
        </div>
      </ion-item>

      <!-- COUNTRY -->
      <ion-item>
        <div>
          <div class="nameField">
            Country
          </div>
          <div>{{this.country}}</div>
        </div>
      </ion-item>

      <!-- URL -->
      <ion-item>
        <div>
          <div class="nameField">
            URL
          </div>
          <div>{{this.url}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>

  <form [formGroup]="registrationForm" (ngSubmit)="onClickRegister()">
    <!-- SINGER PREFERENCES -->
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-label style="font-weight: bold;" color="primary">
          Recently Spotify Added
        </ion-label>
      </ion-card-header>
      <ion-item lines="none">
        <ion-label color="primary"> Singer Preferences </ion-label
        ><ion-button
          (click)="showSingerPref()"
          fill="outline"
          slot="end"
          color="secondary"
          >Show Artists</ion-button
        >
      </ion-item>
      <ng-container *ngIf="this.singerDiv">
        <!--SEARCH ARTIST-->
        <ion-searchbar
          animated
          placeholder="Search for an artist"
          showCancelButton="focus"
          spellcheck="true"
          (ionChange)="searchArtist($event)"
        ></ion-searchbar>
        <ion-grid class="ion-no-padding">
          <ion-row style="justify-content: space-between !important;">
            <ion-col *ngFor="let item of searchFavArtist">
              <ion-item lines="none">
                <ion-avatar style="width: 40px; height: 40px;">
                  <img src="{{item.image}}" />
                </ion-avatar>
                <ion-label>
                  {{item.name}}
                </ion-label>
                <ion-checkbox
                  [value]="item.name"
                  [disabled]="!item.checked && this.selectedFavArtist.length >= 5"
                  slot="end"
                  [checked]="item.checked"
                  (ionChange)="updateSingerPref('search', item.key)"
                ></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!--FAVORITE ARTIST-->
        <ion-item color="primary" lines="full">
          Your Preferences
        </ion-item>
        <ng-container>
          <ion-item *ngIf="this.selectedFavArtist.length == 0">
            You don't have any preferences
          </ion-item>
          <ng-container *ngFor="let item of selectedFavArtist">
            <ion-item>
              <ion-avatar
                style="width: 40px; height: 40px; margin-right: 10px;"
              >
                <img src="{{item.image}}" />
              </ion-avatar>
              <ion-label>
                {{item.name}}
              </ion-label>
              <ion-checkbox
                [value]="item.name"
                slot="end"
                [checked]="item.checked"
                (ionChange)="updateSingerPref('favorite', item.key)"
              ></ion-checkbox>
            </ion-item>
          </ng-container>
        </ng-container>
        <!--SUGGEST ARTIST-->
        <ion-item
          color="primary"
          lines="full"
          *ngIf="this.selectedFavArtist.length < 5"
        >
          Suggests
        </ion-item>
        <ng-container *ngFor="let item of suggestfavArtist">
          <ion-item *ngIf="!item.checked && this.selectedFavArtist.length < 5">
            <ion-avatar style="width: 40px; height: 40px; margin-right: 10px;">
              <img src="{{item.image}}" />
            </ion-avatar>
            <ion-label>
              {{item.name}}
            </ion-label>
            <ion-checkbox
              [value]="item.name"
              slot="end"
              [checked]="item.checked"
              (ionChange)="updateSingerPref('suggest', item.key)"
            ></ion-checkbox>
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-card>

    <!-- FAVORITE Genres -->
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-label style="font-weight: bold;" color="primary">
          My Dates
        </ion-label>
      </ion-card-header>
      <ion-item (click)="alertMaxGenres(5)">
        <ion-label position="floating" style="color: var(--ion-color-primary);">
          Favorite Genres
        </ion-label>
        <ion-select
          multiple="true"
          cancelText="Back"
          okText="Confirm"
          (ionChange)="refreshHatedGenres(5)"
          formControlName="favGenres"
        >
          <ion-select-option
            *ngFor="let item of favGenres | keyvalue"
            [value]="item.key"
            [disabled]="!item.value"
            >{{item.key}}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <!-- HATED Genres -->
      <ion-item (click)="alertMaxGenres(5)">
        <ion-label position="floating" style="color: var(--ion-color-primary);">
          Hated Genres
        </ion-label>
        <ion-select
          multiple="true"
          cancelText="Back"
          okText="Confirm"
          (ionChange)="refreshFavGenres(5)"
          formControlName="hatedGenres"
        >
          <ion-select-option
            *ngFor="let item of hatedGenres | keyvalue"
            [value]="item.key"
            [disabled]="!item.value"
            >{{item.key}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-card>
    <div style="text-align: center;">
      <ion-button
        type="submit"
        style="width: 30%; margin: 20px auto;"
        [disabled]="!registrationForm.valid"
        [color]="registrationForm.valid? 'primary':'medium'"
      >
        Confirm
      </ion-button>
    </div>
  </form>
</ion-content>
