ion-content ion-toolbar {
  --background: translucent;
}

.myavatar {
  margin: 0 auto;
  max-width: 100px;
  min-width: 100px;
  max-height: 100px;
  min-height: 100px;
}

.nameField {
  color: var(--ion-color-primary);
  font-size: 12px;
}

.submit {
  margin: 10px auto 20px auto;
  width: 30%;
}
