<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-label style="font-weight: bold;" color="primary">
          Some Spotify's Account Dates
        </ion-label>
      </ion-card-header>

      <!-- PHOTO -->
      <ion-avatar>
        <img src="{{this.userProfilePhoto}}" />
      </ion-avatar>

      <!-- EMAIL -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          required
          placeholder="email@email.com"
          inputmode="email"
          formControlName="email"
          readonly
        >
        </ion-input>
      </ion-item>

      <!-- NAME -->
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input
          required
          placeholder="Your Name"
          formControlName="name"
          readonly
        >
        </ion-input>
      </ion-item>

      <!-- AGE -->
      <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input formControlName="age" placeholder="18" required readonly>
        </ion-input>
      </ion-item>

      <!-- SEX -->
      <ion-item>
        <ion-label position="floating">Sex</ion-label>
        <ion-input name="sex" formGroupName="sex" readonly required>
        </ion-input>
      </ion-item>

      <!-- COUNTRY -->
      <ion-item>
        <ion-label position="floating">Country</ion-label>
        <ion-input name="country" required formControlName="country" readonly>
        </ion-input>
      </ion-item>
    </ion-card>

    <!-- SINGER PREFERENCES -->
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-label style="font-weight: bold;" color="primary">
          Recently Spotify Added
        </ion-label>
      </ion-card-header>
      <ion-item>
        <ion-label position="floating">Singer Preferences</ion-label>
        <ion-input
          type="text"
          maxlength="30"
          name="favoriteSingers"
          placeholder="Lady Gaga, Eminem, Jovanotti"
          formControlName="favoriteSingers"
        >
        </ion-input>
      </ion-item>
    </ion-card>

    <!-- FAVORITE Genres -->
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-label style="font-weight: bold;" color="primary">
          My Dates
        </ion-label>
      </ion-card-header>
      <ion-item>
        <ion-label position="floating"> Favorite Genres </ion-label>
        <ion-select
          multiple="true"
          cancelText="Back"
          okText="Confirm"
          (ionChange)="refreshHatedGenres()"
          formControlName="favGenres"
        >
          <ion-select-option
            *ngFor="let item of favGenres | keyvalue"
            [value]="item.key"
            [disabled]="!item.value"
            >{{item.key}}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <!-- HATED Genres -->
      <ion-item>
        <ion-label position="floating"> Hated Genres </ion-label>
        <ion-select
          multiple="true"
          cancelText="Back"
          okText="Confirm"
          (ionChange)="refreshFavGenres()"
          formControlName="hatedGenres"
        >
          <ion-select-option
            *ngFor="let item of hatedGenres | keyvalue"
            [value]="item.key"
            [disabled]="!item.value"
            >{{item.key}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-card>
    <div style="text-align: center;">
      <ion-button
        type="submit"
        style="width: 30%; margin: 20px auto;"
        [disabled]="!registrationForm.valid"
        [color]="registrationForm.valid? 'primary':'medium'"
      >
        Confirm
      </ion-button>
    </div>
  </form>
  <ion-button (click)="checkValid()">press</ion-button>
</ion-content>
