<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-label style="font-weight: bold;" color="primary">
        Some Spotify's Account Dates
      </ion-label>
    </ion-card-header>

    <!-- PHOTO -->
    <ion-avatar>
      <img src="{{this.userProfilePhoto}}" />
    </ion-avatar>

    <ion-list lines="full">
      <!-- EMAIL -->
      <ion-item>
        <div>
          <div class="nameField">
            Email
          </div>
          <div>{{this.email}}</div>
        </div>
      </ion-item>

      <!-- NAME -->
      <ion-item>
        <div>
          <div class="nameField">
            Name
          </div>
          <div>{{this.name}}</div>
        </div>
      </ion-item>

      <!-- COUNTRY -->
      <ion-item>
        <div>
          <div class="nameField">
            Country
          </div>
          <div>{{this.country}}</div>
        </div>
      </ion-item>

      <!-- URL -->
      <ion-item>
        <div>
          <div class="nameField">
            URL
          </div>
          <div>{{this.url}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>

  <form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <!-- SINGER PREFERENCES -->
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-label style="font-weight: bold;" color="primary">
          Recently Spotify Added
        </ion-label>
      </ion-card-header>
      <ion-item lines="none">
        <ion-label color="primary"> Singer Preferences </ion-label
        ><ion-button
          (click)="showSingerPref()"
          fill="outline"
          slot="end"
          color="secondary"
          >Show Artists</ion-button
        >
      </ion-item>
      <ion-item *ngIf="this.singerDiv">
        <ion-label color="primary"> To Do </ion-label>
      </ion-item>
    </ion-card>

    <!-- FAVORITE Genres -->
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-label style="font-weight: bold;" color="primary">
          My Dates
        </ion-label>
      </ion-card-header>
      <ion-item (click)="alertMaxGenres(5)">
        <ion-label position="floating" style="color: var(--ion-color-primary);">
          Favorite Genres
        </ion-label>
        <ion-select
          multiple="true"
          cancelText="Back"
          okText="Confirm"
          (ionChange)="refreshHatedGenres(5)"
          formControlName="favGenres"
        >
          <ion-select-option
            *ngFor="let item of favGenres | keyvalue"
            [value]="item.key"
            [disabled]="!item.value"
            >{{item.key}}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <!-- HATED Genres -->
      <ion-item (click)="alertMaxGenres(5)">
        <ion-label position="floating" style="color: var(--ion-color-primary);">
          Hated Genres
        </ion-label>
        <ion-select
          multiple="true"
          cancelText="Back"
          okText="Confirm"
          (ionChange)="refreshFavGenres(5)"
          formControlName="hatedGenres"
        >
          <ion-select-option
            *ngFor="let item of hatedGenres | keyvalue"
            [value]="item.key"
            [disabled]="!item.value"
            >{{item.key}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-card>
    <div style="text-align: center;">
      <ion-button
        type="submit"
        style="width: 30%; margin: 20px auto;"
        [disabled]="!registrationForm.valid"
        [color]="registrationForm.valid? 'primary':'medium'"
      >
        Confirm
      </ion-button>
    </div>
  </form>
</ion-content>
