<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-label style="font-weight: bold;" color="primary">
        Search Music
      </ion-label>
    </ion-card-header>
    <ion-searchbar
      animated
      placeholder="Search for an artist"
      showCancelButton="focus"
      spellcheck="true"
      (ionChange)="searchMusic($event)"
    ></ion-searchbar>

    <ion-grid class="ion-no-padding">
      <ion-row style="justify-content: space-between !important;">
        <ion-col *ngFor="let item of searchFavArtist">
          <ion-item
            lines="none"
            (click)="onClickArtist(item.key)"
            class="search-click"
          >
            <ion-ripple-effect></ion-ripple-effect>
            <ion-avatar style="width: 40px; height: 40px; margin-right: 10px;">
              <img src="{{item.image}}" />
            </ion-avatar>
            <ion-label>
              {{item.name}}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ng-container>
      <ion-item *ngIf="this.recommendedMusicArray.length === 0">
        Choose an artist
      </ion-item>
      <ng-container *ngIf="this.recommendedMusicArray.length !== 0">
        <ion-item *ngFor="let item of recommendedMusicArray" lines="full">
          <div (click)="openSpotifyPlayer(item.external_urls)" class="listenMe">
            <div class="image-container" slot="start">
              <figure>
                <img class="album" src="{{item.image}}" />
                <img
                  class="playing"
                  src="assets/img/playing.png"
                  *ngIf="item.currentlyPlayingSong"
                />
              </figure>
            </div>
            <div class="listenMeLabel">Listen Me</div>
          </div>

          <div class="containerDatas">
            <div class="wrapDiv">
              <div class="nameField">
                Album:
              </div>
              <div class="verticalDivCenter">
                {{item.nome_album}}
              </div>
            </div>
            <div class="wrapDiv">
              <div class="nameField">
                Artisti:
              </div>
              <div
                class="verticalDivCenter"
                *ngFor="let artist of item.nomi_artisti"
              >
                {{artist.name}},
              </div>
            </div>
            <div class="wrapDiv">
              <div class="nameField">
                External URLS:
              </div>
              <div class="verticalDivCenter">
                {{item.external_urls}}
              </div>
            </div>
            <div class="wrapDiv">
              <div class="nameField">
                URI:
              </div>
              <div class="verticalDivCenter">
                {{item.uriID}}
              </div>
            </div>
          </div>
          <div slot="end">
            <ion-button
              (click)="playMusics(item.uriID)"
              class="previewButton"
              fill="clear"
              *ngIf="item.preview_url !== null && item.currentlyPlayingPreview === false"
              >Preview</ion-button
            >
            <ion-button
              (click)="stop(item.uriID)"
              class="previewButton"
              fill="clear"
              *ngIf="item.preview_url !== null && item.currentlyPlayingPreview === true"
              >Stop</ion-button
            >
            <ion-progress-bar
              color="primary"
              value="{{this.soundPlayer.currentTime / 30}} "
              *ngIf="item.preview_url !== null && item.currentlyPlayingPreview === true"
            ></ion-progress-bar>
          </div>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-card>
</ion-content>
