<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-label style="font-weight: bold;" color="primary">
        Search Music
      </ion-label>
    </ion-card-header>
    <ion-searchbar
      animated
      placeholder="Search for an artist"
      showCancelButton="focus"
      spellcheck="true"
      (ionChange)="searchMusic($event)"
    ></ion-searchbar>

    <ion-grid class="ion-no-padding">
      <ion-row style="justify-content: space-between !important;">
        <ion-col *ngFor="let item of searchFavArtist">
          <ion-item lines="none" (click)="onClickArtist(item.key)">
            <ion-avatar style="width: 40px; height: 40px; margin-right: 10px;">
              <img src="{{item.image}}" />
            </ion-avatar>
            <ion-label>
              {{item.name}}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
