<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-label style="font-weight: bold;" color="primary">
        Search Music
      </ion-label>
    </ion-card-header>
    <ion-searchbar
      animated
      placeholder="Search a song"
      showCancelButton="focus"
      spellcheck="true"
      (ionChange)="searchMusic($event)"
    ></ion-searchbar>

    <div *ngIf="this.state.nowPlaying">
      Now Playing: {{this.state.nowPlaying.name}}
      <img src="{{this.state.nowPlaying.albumArt}}" style="height: 150px;" />
    </div>
    <div *ngIf="this.state.loggedIn">
      <ion-button (click)="getNowPlaying()">
        Check Now Playing
      </ion-button>
    </div>
  </ion-card>
</ion-content>
