<div id="custom-overlay" *ngIf="splashPortrait">
  <img
    class="imgPortrit"
    src="../../assets/splashscreen/splashscreenPortrait{{i}}.gif"
    height="{{height}}"
    width="{{width}}"
  />
</div>
<div id="custom-overlay" *ngIf="splashLandscape">
  <img
    class="imgLandscape"
    src="../../assets/splashscreen/splashscreenLandscape.gif"
    height="{{height}}"
    width="{{width}}"
  />
</div>

<ion-tabs *ngIf="!splashPortrait && !splashLandscape">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="search-sharp"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="suggest">
      <ion-icon name="star"></ion-icon>
      <ion-label>Suggest</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="changeMood">
      <ion-icon name="happy"></ion-icon>
      <ion-label>Mood</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
