<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content> </ion-refresher
></ion-content>
<div class="wrapper">
  <div class="container">
    <ion-img src="../../assets/img/login.png" class="logo"></ion-img>
    <div class="divCenter">
      <div class="description">
        Claudio Amato presents: Moodify. <br /><br />
        Moodify can recommend music based on your current mood. <br /><br />
        Based on your emotions and Spotify's personal music taste, Moodify finds
        music that can change your desired mood state.
      </div>
      <ion-button
        (click)="onClickLogin()"
        class="mybutton"
        disabled="{{this.params.access_token !== undefined}}"
      >
        Login with Spotify
      </ion-button>
      <br />
      <div style="padding: 2% 0; font-size: small; display: inline-flex;">
        <div style="align-self: center;">Login with another account?&nbsp;</div>
        <ion-button
          (click)="changeAccount()"
          fill="clear"
          class="ion-no-padding"
          style="
            font-size: 12px !important;
            text-transform: none !important;
            margin: 0;
          "
          size="small"
        >
          <span style="text-decoration: underline;">Change</span>
        </ion-button>
      </div>
      <div style="padding: 2% 0; font-size: small;">
        No Spotify yet?
        <a href="https://www.spotify.com/">Join</a>
      </div>
    </div>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
